version: "3.8"

services:
  strapi-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: badlao-strapi-dev
    env_file:
      - .env.dev
    working_dir: /srv/app
    ports:
      - "127.0.0.1:1339:1339"
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    external: true
    name: badlao_backend
