version: "3.8"

services:
  strapi-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: strapi-prod

    # Load all prod env vars (this file should NOT be committed)
    env_file:
      - .env

    # Strapi app working dir
    working_dir: /srv/app

    # In prod we usually don't mount source code;
    # the code is baked into the image.
    # If you want persistent uploads, you can later add:
    # volumes:
    #   - ./public/uploads:/srv/app/public/uploads

    ports:
      - "1340:1340"   # host:container, matches PORT in .env

    restart: unless-stopped
